@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
	font-family: 'Roboto', sans-serif;
}

.message-text {
	color: skyblue;
}

.navbar ul li a{
	float: left;
	padding-right: 20px;
}
