@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../node_modules/bootstrap/scss/bootstrap';

$acc: #3f5175;

body {
	font-family: 'Roboto', sans-serif;
}

.message-text {
	color: skyblue;
}

.navbar ul li a{
	float: left;
	padding-right: 20px;
}

.footer {
	margin-top: 64px;
	height: 200px;
	background-color: darken($acc, 10%);
	color: white;
}

.graph {
	background-color: #3f5175;
	color: white;
	border-radius: 16px;
	padding: 16px;
}

.chart-in {
	margin-top: 16px;
	margin-bottom: 32px;
}
