@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../node_modules/bootstrap/scss/bootstrap';

$acc: #3f5175;

body {
	font-family: 'Roboto', sans-serif;
}

.message-text {
	color: skyblue;
}

.navbar ul li a{
	float: left;
	padding-right: 20px;
}

.footer {
	margin-top: 64px;
	height: 200px;
	background-color: darken($acc, 10%);
	color: white;
}
