.line
	fill: none
	stroke: #7dc7f4
	stroke-width: 5px

.visitors
	background-color: #3f5175
	color: white

.tick text
	font-family: 'Roboto', sans-serif
	color: white
	fill: white
	font-size: 14px

.axis path
	fill: none
	stroke: none
	shape-rendering: crispEdges
.axis line
	fill: none
	stroke: none
	shape-rendering: crispEdges

.y-grid .tick line
	stroke: #4b5f87
	opacity: 1
.y-grid path
	stroke: none

circle.dot
	transition: all .3s ease
	cursor: pointer
